* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Quattrocento', serif;
}

a:hover {
    color: #ff7d7d;
}

body {
    margin: 0 auto;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}